@model MusicDBWebApp.Models.Artist

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4 heading-font">Artist Operations</h1>
        <p>Add New Artist Details</p>
    </div>
    <p>
        <a asp-action="Index" class="btn btn-primary">View All Artist</a>
    </p>
    <hr />
    <div class="row">
        <div class="card col-md-4 border-0">
            <img class="card-img-top img-fluid" src="~/common.png" alt="" style="width:100%">
        </div>
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ArtistName" class="control-label"></label>
                    <input asp-for="ArtistName" class="form-control" />
                    <span asp-validation-for="ArtistName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About" class="control-label"></label>
                    <textarea asp-for="About" class="form-control"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="custom-file mb-3">
                    <input asp-for="File.FormFile" type="file" class="custom-file-input" id="customFile">
                    <label asp-for="File.FormFile" class="custom-file-label">Choose Any Image File</label>
                    <span asp-validation-for="File.FormFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Artist Details" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
