@model IEnumerable<MusicDBWebApp.Models.Genre>

@{
    ViewData["Title"] = "AllGenre";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4 heading-font">All Genre</h1>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">@item.GenreName</h5>
                        <a class="btn btn-primary btn-primary" asp-action="ViewAlbumByGenre" asp-route-id="@item.GenreID">View Albums</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

